<host starttime="1741865432" endtime="1741865660">
  <status state="up" reason="arp-response" reason_ttl="0" />
  <address addr="10.10.10.1" addrtype="ipv4" />
  <address addr="DB:23:XX:XX:XX:XX" addrtype="mac" vendor="Proxmox Server Solutions GmbH" />
  <hostnames>
    <hostname name="influxdb.example.com" type="PTR" />
  </hostnames>
  <ports>
    <port protocol="tcp" portid="22">
      <state state="filtered" reason="no-response" reason_ttl="0" />
      <service name="ssh" method="table" conf="3" />
    </port>
    <port protocol="tcp" portid="2222">
      <state state="filtered" reason="no-response" reason_ttl="0" />
      <service name="EtherNetIP-1" method="table" conf="3" />
    </port>
  </ports>
  <os>
    <portused state="closed" proto="udp" portid="30904" />
  </os>
  <distance value="1" />
  <trace>
    <hop ttl="1" ipaddr="10.10.10.1" rtt="0.57" host="influxdb.example.com" />
  </trace>
  <times srtt="575" rttvar="752" to="100000" />
</host>